arquitetura/Arquitetura/1. Presentation Layer/ASP NET MVC/Arquitetura.Presentation.ASPNETMVC/Service References/CategoryService/CategoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6263/CategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Arquitetura.Service.DataTransferObject" />
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Arquitetura.Service.DataTransferObject" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q1:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Arquitetura.Service.DataTransferObject" minOccurs="0" name="category" nillable="true" type="q2:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Arquitetura.Service.DataTransferObject" minOccurs="0" name="category" nillable="true" type="q3:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Arquitetura.Service.DataTransferObject" minOccurs="0" name="category" nillable="true" type="q4:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>